/* Google Fonts Imports*/
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700;900&display=swap');

@import "tailwindcss";


/* Google Fonts Class */
@theme {
  --font-titillium-web: "Titillium Web", sans-serif;
  --color-primary-blue: #194BFD;
}


:root {
  --background: #ffffff;
  --foreground: #171717;
}