/* Google Fonts Imports*/
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700;900&display=swap');

@import "tailwindcss";

@theme {
  /* Google Fonts Class */
  --font-titillium-web: "Titillium Web", sans-serif;
  /* Cores personalizadas */
  --color-primary-blue: #194BFD;
  --color-gray-930: #0d1223 ;
}


:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Garante que a altura seja 100% */
html, body, #__next {
  height: 100%;
}

/* Melhorias visuais para o bloco de código */
.react-syntax-highlighter-line-number {
  user-select: none;
}

/* Ajuste para dark/light mode */
.dark .react-syntax-highlighter-line-number {
  color: #6e7681 !important;
}

/* Estiliza a barra de scroll */
.react-syntax-highlighter::-webkit-scrollbar {
  height: 8px;
}

.react-syntax-highlighter::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

.dark .react-syntax-highlighter::-webkit-scrollbar-track {
  background: #2d2d2d;
}

.react-syntax-highlighter::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 4px;
}

.dark .react-syntax-highlighter::-webkit-scrollbar-thumb {
  background: #555;
}